[submodule "dependencies/cpr"]
	path = dependencies/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2
